@import "tailwindcss";
@theme {
  --color-red: #d70321;
  --color-gold: #cba058;
  --color-green: #5a6420;
  --color-sky: #bdc5e9;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Barlow", sans-serif;
  ::selection {
    color: var(--color-red);
    background-color: var(--color-gold);
  }
  font-weight: 600;
  a,
  button {
    cursor: pointer;
  }
  textarea,
  input,
  select {
    transition: all 0.4s;
  }
}

@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* smooth scrolling in browser page */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}
