@import "tailwindcss";
@theme {
  --color-red: #d70321;
  --color-gold: #cba058;
}
html {
  body {
    font-weight: 600;
    font-family: sans-serif;
    a,
    button {
      cursor: pointer;
    }
    textarea,
    input,
    select {
    }
  }
}
